<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

     <nav class="navbar navbar-expand-lg navbar-dark py-3 ">
        <div class="container">
          <a class="navbar-brand" href="#">Admin</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link " href="/">Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link " href="/categories">Specialist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/hospital">Hospital</a>
              </li>
              <li class="nav-item">
                <a class="nav-link acti" href="/doctor">Doctors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/login">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



    <div class="container my-5 ">
        <h1 class="text-center pb-4">Doctor</h1>
        <a href="/doctor_add" class="btn btn-primary m-3 btn-lg">Add a new Doctor</a>
      
             <table class="table">
        <tr>
        
          <th>Doctor Name</th>
          <th>Doctor Location</th>
          <th>Hos ID</th>
          <th>Contact For Serial</th>
          <th>Qualification</th>
          <th>Sp ID</th>

          <th>Actions</th>
          
        </tr>
        {{#each dr}}
          <tr>
            
            <td>{{this.name}}</td>
            <td>{{this.dlocation}}</td>
            <td>{{this.H_id}}</td>
            <td>{{this.contact_no}}</td>
            <td>{{this.qualification}}</td>
            <td>{{this.S_id}}</td>
            
            <td>
                <a href="/edit-doctor-form/{{this.D_id}}" class="btn btn-info btn-sm">Edit</a>
                <a href="/delete-doctor/{{this.D_id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        {{/each}}
      </table>
      
    </div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>